body {
  font-family: 'Assistant', sans-serif;
  text-align: center;
  background: rgb(198, 209, 210);
  background: linear-gradient(0deg, rgba(198, 209, 210, 1) 40%, rgba(240, 241, 241, 1) 100%);
}

.window {
  margin: auto;
  width: 540px;
  height: 700px;
  background-color: #cecece;
  box-shadow: -5px -12px 0px #888888 inset;
  border: solid 3px;

}

.game-data {
  height: 100px;
}

.stopwatch {

  position: absolute;
  color: #922e2e;
  margin-top: 10px;
  margin-left: 333px;
  border: 3px solid black;
  width: 180px;
  height: 74px;
  background-color: #111111;
  box-shadow: 4px 2px 0px #2f2d2d inset;
  text-align: center;
  font-size: 4em;
  line-height: 74px;
}

.smiley {
  position: absolute;
  margin-top: 10px;
  margin-left: 229px;
  text-align: center;
  width: 74px;
  height: 74px;
  border: 3px solid;
  background-color: #c5d4d4;
  box-shadow: -3px -7px 0px #a3a4a4 inset;
  font-size: 3em;
  line-height: 74px;
  vertical-align: auto;
  cursor: pointer;
}

.smiley:hover {
  background-color: #c5d4d4;
  box-shadow: 0px 0px 0px #a3a4a4 inset;
  transition: 2s;
}

.lives {
  position: absolute;
  color: #922e2e;
  margin-top: 10px;
  margin-left: 20px;
  border: 3px solid black;
  width: 180px;
  height: 74px;
  background-color: #111111;
  box-shadow: 4px 2px 0px #2f2d2d inset;
  text-align: center;
  font-size: 3em;
  line-height: 74px;
}

.game {
  height: 506px;
  margin-bottom: 10px;
}

.game-holder {
  margin: auto;
}

.game-board td {
  color: #3f3f3f;
  border: solid black;
  font-family: 'Press Start 2P', cursive;
  font-size: 1em;
  text-align: center;
  width: 2em;
  height: 2em;
  transition: 0.5s;
}

.closed {
  background-color: #c5d4d4;
  box-shadow: -3px -4px 0px #a3a4a4 inset;
}

.open {
  background-color: #E1E5E8;
  transition: 1s;
}

.marked {
  background-color: #737374;
  box-shadow: -3px -4px 0px #504e4e inset;

}

.safe {
  background-color: #4a965a;
  box-shadow: -3px -4px 0px #35833e inset;
}

span.hidden {
  display: none;
}


.btn-holder {
  position: absolute;
  text-align: center;
  width: 540px;
  margin: auto;
}

button {
  height: 50px;
  width: 100px;
  background-color: #c5d4d4;
  box-shadow: -3px -7px 0px #a3a4a4 inset;
  border: #111111 solid 2px;
}

button.safe-click {
  background-color: #79a27b;
  box-shadow: -3px -7px 0px #526b53 inset;
}

button:hover {
  box-shadow: 0px 0px 0px #a3a4a4 inset;
  transition: 2s;
}
